 //Colors
$gray-base:              #585858;
$gray-dark:              #333333;
$gray-light:             #808080;
$gray-lighter:           #eeeeee;

$light:                  #f4f4f4;
$white:                  #fff;
$black:                  #000;

// 主色调
$brand:                  #0c5de0;
$tit:                    #4d555d;

// 辅助色
$blue:                   #348ac7;
$yellow:                 #fdc00f;
$red:                    #ec4040;
$green:                  #009900;
$cyan:                   #1ab99b;
$teal:                   #0fa3b1;
$pink:                   #f45b69;
$gray-tint:              #4d4d4d;
$disabled-tint:          #dddddd;

// 状态色
$primary:                $blue;
$success:                $green;
$warning:                $yellow;
$danger:                 $red;
$disabled:               #ccc;

$primary-invert:         lighten($blue, 40%);
$success-invert:         lighten($green, 60%);
$warning-invert:         lighten($yellow, 42%);
$danger-invert:          lighten($red, 36%);

$body-bg:                #f5f5f5;
$module-padding:         20px;
$module-margin:          $module-padding;
$text-color:             $gray-base;
$link-color:             $gray-base;
$link-hover-color:       $brand;

//Typography
$font-family-sans-serif:  "Tahoma","Helvetica Neue","Lantinghei SC",Arial,"Microsoft Yahei","Hiragino Sans GB",STXihei,Helvetica,sans-serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-num:         Impact;
$font-family-more:        "Hiragino Sans GB","SimSun";
$font-family-base:        $font-family-sans-serif;

$font-size-base:          14px;
$font-size-lg:            ceil(($font-size-base * 1.1));// ~16px
$font-size-sm:            ceil(($font-size-base * 0.85));// ~12px

$font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

$font-weight-small:       100;
$font-weight-bold:        700;

$line-height-base:        1.5; // 20/14
$line-height-lg:          (4 / 3) !default;
$line-height-sm:          1.5 !default;
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

//z-index
$nav-mobile-zindex:       1000;
$zindex-modal-bg:         1040;
$zindex-modal:            1050;

//Icon
$icon-font-path:          "../../fonts/";
$icon-font-name:          "iconfont";
$icon-font-svg-id:        $icon-font-name;

//Components
$padding-base-vertical:     6px;
$padding-base-horizontal:   12px;

$padding-lg-vertical:       10px;
$padding-lg-horizontal:     15px;

$padding-sm-vertical:       5px;
$padding-sm-horizontal:     10px;

$border-width:              1px !default;
$border-radius:             3px;
$border-radius-lg:          5px;
$border-radius-sm:          2px;

$component-active-color:    #fff;

$body-width:                1200px;
$index-section-width:       850px;
$index-aside-width:         330px;

//Buttons
$btn-font-weight:           normal;
$btn-default-color:         $gray-base;
$btn-default-bg:            #e0e1e2;

// Basic
$btn-basic-border-color:    #e5e5e5;


$btn-inverted-color:        $white;
$btn-inverted-bg:           transparent;
$btn-inverted-border-color: $white;

$btn-brand-color:           $white;
$btn-brand-bg:              $brand;
$btn-brand-border-color:    $brand;

$btn-box-shadow:            0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset !default;
$btn-focus-box-shadow:      0 0 0 2px darken($btn-default-bg, 10%) !default;
$btn-focus-bg:              darken($btn-default-bg, 10%) !default;
$btn-active-bg:             darken($btn-default-bg, 15%) !default;
$btn-active-box-shadow:     inset 0 3px 5px rgba($black,.125) !default;

$btn-block-spacing-y:       5px !default;

$input-btn-padding-y:       10px !default;
$input-btn-padding-x:       25px !default;
$input-btn-line-height:     1.25 !default;

$input-btn-padding-y-sm:    5px !default;
$input-btn-padding-x-sm:    10px !default;
$input-btn-line-height-sm:  1.5 !default;

$input-btn-padding-y-lg:    15px !default;
$input-btn-padding-x-lg:    30px !default;
$input-btn-line-height-lg:  1.5 !default;

$btn-border-radius:         $border-radius !default;
$btn-border-radius-lg:      $border-radius-lg !default;
$btn-border-radius-sm:      $border-radius-sm !default;

$btn-transition:            all .2s ease-in-out !default;

// Form
$input-bg:                  #fff;
$input-color:               $gray-base;
$input-border:              $gray-lighter;
$input-border-radius:       $border-radius-sm;
$input-btn-border-width:    $border-width !default;
// Border color for inputs on focus
$input-border-focus:        $brand;
// Placeholder text color
$input-color-placeholder:   #666;
$input-bg-disabled:         #f5f5f5;
$cursor-disabled:           not-allowed;
$input-height-base:         34px;
$legend-color:              $gray-dark;
$legend-border-color:       #e5e5e5;

$control-radius: $border-radius !default;
$control-radius-small: $border-radius-sm !default;

$control-padding-vertical: calc(0.375em - 1px) !default;
$control-padding-horizontal: calc(0.625em - 1px) !default;


// Table
$table-bg:                      transparent;
$table-cell-padding:            8px;
$table-condensed-cell-padding:  5px;
$table-bg-accent:               #f9f9f9;
$table-bg-hover:                #fafafa;
$table-td-border-color:         #f4f4f4;
$table-bg-active:               $table-bg-hover;
$table-border-color:            $gray-lighter;

//Pagination
$pagination-margin:       5px;
$pagination-border-color: #d6e1e5;
$disabled-border-color:   $light;
$disabled-background:     transparent;
$disabled-color:          #bbb;

// Modal
$modal-inner-padding:         15px;
$modal-title-padding:         15px;
$modal-title-line-height:     $line-height-base;
$modal-content-bg:                             #fff;
$modal-content-border-color:                   $gray-lighter;
$modal-content-fallback-border-color:          #999;
$modal-backdrop-bg:           #000;
$modal-backdrop-opacity:      .5;
$modal-header-border-color:   #e5e5e5;
$modal-footer-border-color:   $modal-header-border-color;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded:            false !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;


// Responsiveness
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;
// 960px container + 40px
$desktop: 1000px !default;
// 1152px container + 40
$widescreen: 1192px !default;
// 1344px container + 40
$fullhd: 1384px !default;

$colors: ("primary": ($primary, $primary-invert), "success": ($success, $success-invert), "warning": ($warning, $warning-invert), "danger": ($danger, $danger-invert)) !default;