<link rel="stylesheet" href="footer.scss">

<div class="footer">
  <div class="side">
    <div class="helpcenter"><i class="iconfont icon-bangzhu"></i>帮助中心</div>
    <a href="#" class="back-top"><i class="iconfont icon-fanhuidingbu"></i>返回顶部</a>
  </div>
  <div class="wapper">
    <div class="container clearfix">
      <div class="pull-left link-correlate">
        <div class="breadcrumb">
          <a class="home" href="index.html">首页</a>
          <div class="divider">&nbsp;/&nbsp;</div>
          <a href="javascript:;">课程广场</a>
          <div class="divider">&nbsp;/&nbsp;</div>
          <a href="javascript:;">在线大讲堂</a>
          <div class="divider">&nbsp;/&nbsp;</div>
          <a href="javascript:;">庭审旁听</a>
          <div class="divider">&nbsp;/&nbsp;</div>
          <a href="javascript:;">案例评析</a>
          <div class="divider">&nbsp;/&nbsp;</div>
          <di class="current">精英名师</di>
        </div>
        <div class="contact">
          <div class="">有问题请联系：</div>
          <div class="phone">
            <i class="iconfont icon-dianhua"></i>
            400-920-0247</div>
        </div>
      </div>
      <div class="pull-right mobile">
        <div class="qr" style="background-image: url(assets/images/mobile.jpg)"></div>
        移动客户端
      </div>
    </div>
  </div>
  <div class="copyright">
    ©2018-2022 上海同道信息技术有限公司 版权所有
  </div>
</div>