<!-- Bottom Toolbar-->
<div class="toolbar footer-toolbar">
  <ul class="boolbar-box clearfix">
    <li class="toolbar-detail pull-left active">
      <a href="/">
        <i class="iconfont toolbar-iconfont icon-home icon-home"></i>
        <i class="iconfont toolbar-iconfont-active icon-home icon-home-fill"></i>
        <div class="toolbar-name">推荐</div>
      </a>
    </li>
    <li class="toolbar-detail pull-left">
      <a href="javascript:;">
        <i class="iconfont toolbar-iconfont icon-square"></i>
        <i class="iconfont toolbar-iconfont-active icon-square-fill"></i>
        <div class="toolbar-name">课程广场</div>
      </a>
    </li>
    <li class="toolbar-detail pull-left">
      <a href="course.html">
        <i class="iconfont toolbar-iconfont icon-course"></i>
        <i class="iconfont toolbar-iconfont-active icon-course-fill"></i>
        <div class="toolbar-name">我的课程</div>
      </a>
    </li>
    <li class="toolbar-detail pull-left">
      <a href="javascript:;">
        <i class="iconfont toolbar-iconfont icon-mine"></i>
        <i class="iconfont toolbar-iconfont-active icon-mine-fill"></i>
        <div class="toolbar-name">我的</div>
      </a>
    </li>
  </ul>
</div>
<!-- /End of Bottom Toolbar-->